.booksContainer {
    /* display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    margin-left: 8px; */
    margin-top: 12px;

}

.book {
    /* border: solid 2px; */
    /* border-right: solid 2px; */
}