.App {
  text-align: center;
}

body {
  background-color: #C59C76;
  color: #071013;


  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

button {
  color: #4A7D9A;
}